[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vscode/

ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/Layouts/

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.editorconfig
